@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Stebra Consulting";

}
<script type="text/javascript">
    $(".navbar-nav").html("<li><a href='..'>Tillbaka</a></li>");

</script>

<div id="headervideo" style="min-height: 464px;max-height:400px">
    <div id="headervideoinner" style="opacity: 1;">
        <div class="img responsive hide-desktop" style="background-image: url('../Images/Header/clouds.png');"></div>
        <video style="background: transparent no-repeat url('../Images/Header/clouds.png');background-size:100%; background-position:top center;' ,sizingmethod='scale' );" width="100%" height="400px" autoplay="" muted="" loop="">
            <source src="http://stebrastashed.blob.core.windows.net/videos/clouds.mp4" type="video/mp4">
        </video>
    </div>
</div>
<section class="jumbotron text-center header" style="
    background: transparent;    position: relative;
    z-index: 0;">
    @*<h2 style="font-size:6em">Stebra</h2>*@
    <br /><br />
    <h2 style="font-size:5em">Alltid lite bättre</h2>
    <br /><br /><br /><br />
</section>

<div class="container-fluid dividers1">
    <div id="omStebra" class="container">

        <div class="container">
            <div class="col-lg-12">
                <h1 class="titles">Vad gör vi mer? </h1>

                <p>

                    Vi på Stebra Consulting levererar Moln- och Konsulttjänster inom informationshantering. Enkelt förklarat hjälper vi företag att effektivisera sin verksamhet genom förbättrade flöden inom dokumenthantering, IT-system och verksamhetsprocesser.
                    Det kan till exempel vara att leverera ett system som hanterar kundens interna dokument och öka sökbarheten, eller att skapa en plattform för kundens interna och externa kommunikation innehållande mail, chatfunktion, teamsidor och konferenssystem.

                    Teamet bakom Stebra Consulting har över femton års erfarenhet av att göra just detta. Våra kunder är allt från stora globala företag och myndigheter till mindre privatägda företag inom byggindustrin.

                    Då vi har bland marknadens bästa kompetenser inom SharePoint-lösningar och kravhantering är vi välrenommerade i branschen.
                    Vi är stolta SharePoint-partners till bland andra HiQ, Tieto och Xperta.

                </p>

            </div>
        </div>

    </div>
</div>


