
/**************************
***************************
           Sizes
***************************
**************************/

body {
    padding-top: 50px;
}

.dl-horizontal dt {
    white-space: normal;
}


nav a {
    padding-top: 23px !important;
    padding-bottom: 23px !important;
}

nav .navbar-toggle {
    margin: 13px 15px 13px 0;
}



#navImg {
    height: 55px;
    margin-top: -20px;
}


nav.shrink a {
     padding-top: 15px !important;
  padding-bottom: 15px !important;
}

nav.shrink .navbar-toggle {
  padding: 4px 5px;
  margin: 8px 15px 8px 0;
}

nav.shrink #navImg {
    height: 35px;
    margin-top: -8px;
}


.fill {
    width: 100%;
    min-height: 400px !important;
    background-position: center;
    background-size: cover;
}

.myLiPadding {
    padding-left: 15px;
}

.myBottom {
    position: absolute;
    bottom: 0;
}

.panel-primary {
    border: none;
}

    .panel-primary > .panel-heading {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
    }

.news img {
    display: inline-block;
    display: block;
    height: auto;
    max-width: 100%;
    padding: 4px;
    line-height: 1.428571429;
    border: 1px solid;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}


.header {
   
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 0px !important;
}

.container-fluid {
    padding: 60px 50px;
}


input {
    margin-bottom: 18px !important;
}

.map {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    overflow: hidden;
}

.contact-glyphicon {
    top: -3px !important;
    left: 5px !important;
}


.person {
    height: 200px;
}
.sellText {
    height: 200px;
    width:200px;
}

.overlay {
   background:transparent; 
   position:relative; 
   width:100%;
   height:500px; /* your iframe height */
   top:500px;  /* your iframe height */
   margin-top:-500px;  /* your iframe height */
}

.caption {
  position:absolute;
  left:0;
  right:0;
  top:65px;
}

.fb-like {
    top:-5px;
}


.glyphicon-news {
    margin-right: 10px;
}










/**************************
***************************
           Color
***************************
**************************/


    .panel-primary > .panel-heading {
        background-color: #900000;
        border-color: #900000 !important;
    }

.navbar-inverse .navbar-nav > li > a {
    color: #FFFFFF !important;
}

.news img {
  
    background-color: #fff;
    border-color: #ddd;
    
}

.carousel-caption {
    color: #337ab7 !important;
}

.dividers1 {
    background-color: #FFFFFF;
}

.dividers2 {
      background-image: linear-gradient(to bottom,rgba(60, 60, 60, 0.18) 0,rgba(34, 34, 34, 0.52) 100%);
}

.contact-glyphicon {
    color: #0072c6;
}


.caption {
  color:white !important;
}


h1, h2, h3 {
  color:#0072c6 !important;
}

.salesTitle { /*make sales <h2> darker for better readability*/
 color:#005492 !important;
}
.front {color:black !important}










/**************************
***************************
           Font
***************************
**************************/


nav a {
    font-size: 18px;
}

.navbar-brand {
    font-size: 30px;
}



nav.shrink a {
  font-size: 15px;
}

nav.shrink .navbar-brand {
  font-size: 25px;
}

p, b, a, .displaceFix {
  font-family: 
    "Segoe UI Semilight","Segoe UI","Segoe",
    Tahoma,
    Helvetica,
    Arial,
    sans-serif !important;
  font-size:22px;
}

h1, h2, h3 {
  font-family: 
    "Segoe UI Semilight","Segoe UI","Segoe",
    Tahoma,
    Helvetica,
    Arial,
    sans-serif !important;
  font-weight: 300 !important;
}

footer * {
    font-weight: 300 !important;
    font-size:18px !important;
}

.customerLogo {
    height:50px;
    margin-bottom:50px;
}