<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@Page.Title - Moln- och Konsulttjänster inom informationshantering</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script src="~/Scripts/jquery-2.2.0.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/App.js"></script>
    <meta name="viewport" content="width=device-width" />
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

    <!-- FACEBOOK -->
    @*<div id="fb-root"></div>
    <script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=1734189983463496";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>*@
    <!-- FACEBOOK -->

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="noselect">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="~/Home/Index">
                        <img id="navImg" src="~/Images/Logo/stebra_logo_white.png" />
                    </a>
                </div>


                <div class="collapse navbar-collapse navbar-right" id="bs-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="#om">Om Stebra</a></li>
                        <li><a href="#nyheter">Senaste nytt</a></li>
                        <li><a href="#vilka">Vilka är vi?</a></li>
                        <li><a href="#kontakta">Kontakta oss</a></li>
                    </ul>
                </div>


                @*<!-- LINKEDIN -->
                <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
                <script type="IN/FollowCompany" data-id="5032339">
                </script>

                <!-- FACEBOOK -->
                <div class="fb-like" data-href="https://www.facebook.com/stebraconsulting/" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>*@


            </div>
        </div>
    </nav>

    @*<section class="jumbotron text-center header">

    @*<h1 class="front">Stebra</h1>
    <h2 class="front"> - Alltid lite bättre!</h2> </section>*@

       

    <div id="myContent" class="body-content">
        @RenderBody()
    </div>

    <footer class="col-xs-12 footer" style="background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%); width:100%; bottom:0; position:inherit; color:white;">
        <div class="container">


            <div class="col-xs-12">
                <h3>Stebra Consulting AB</h3>
            </div>
            <a href="#myPage" title="To Top">
                <span class="glyphicon glyphicon-chevron-up"></span>
            </a>

            <div class="col-sm-6 col-xs-12">
                <div class="col-sm-6">
                    <p>
                        <img src="/Images/Tunnelbana.png" height="15" width="15" style="position:relative;top:-2px;"> Zinkensdamm
                    </p>
                    <p>Adress: Brännkyrkagatan 95</p>
                    <p>117 26 Stockholm</p>
                </div>
                <div class="col-sm-6">
                    <p>Tel: 0732-613386</p>
                    <p>Mail: info@stebra.se</p>
                </div>
            </div>
        </div>
    </footer>
    @RenderSection("scripts", required: false)
</body>

</html>