@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Stebra Consulting";

}
<script type="text/javascript">
    $(".navbar-nav").html("<li><a href='/..'>Back</a></li>");

</script>

<div id="headervideo" style="min-height: 464px;max-height:400px">
    <div id="headervideoinner" style="opacity: 1;">
        <div class="img responsive hide-desktop" style="background-image: url('../Images/Header/clouds.png');"></div>
        <video style="background: transparent no-repeat url('../Images/Header/clouds.png');background-size:100%; background-position:top center;' ,sizingmethod='scale' );" width="100%" height="400px" autoplay="" muted="" loop="">
            <source src="http://stebrastashed.blob.core.windows.net/videos/clouds.mp4" type="video/mp4">
        </video>
    </div>
</div>
<section class="jumbotron text-center header" style="
    background: transparent;    position: relative;
    z-index: 0;">
    @*<h2 style="font-size:6em">Stebra</h2>*@
    <br /><br />
    <h2 style="font-size:5em">Always a bit better</h2>
    <br /><br /><br /><br />
</section>

<div class="container-fluid dividers1">
    <div id="omStebra" class="container">

        <div class="container">
            <div class="col-lg-12">
                <h1 class="titles">What do we do more? </h1>

                <p>
                    We at Stebra Consulting delivers Cloud and consultancy services in information management. Simply put, we help companies to streamline their operations through improved flows in the document management, IT systems and business processes.
                    It can for example be to deliver a system that manages the customer's internal documents and increase the searchability, or to create a platform for the customer's internal and external communications containing email, chat function, team pages and conference systems.

                    The team behind Stebra Consulting has over fifteen years' experience of doing just that. Our customers range from large global enterprises and government agencies to small private companies in the construction industry.

                    Then we have among the best competencies in SharePoint solutions and requirements management, we are reputable in the industry.
                    We are proud SharePoint partners, among others, HiQ, Tieto and Xperta.
                </p>

            </div>
        </div>

    </div>
</div>


