<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@Page.Title - Cloud- and Consultservices in contentmanagement</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script src="~/Scripts/jquery-2.2.0.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/App.js"></script>
    <script src="~/Scripts/inline_SVG.js"></script>
    <meta name="viewport" content="width=device-width" />
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">



    <nav class="navbar navbar-inverse navbar-fixed-top navbar-inverse-transparant">

        <ul id="languageselector">
            <li><a id="EN" href="/en/Home.cshtml"><img src="/Images/Flags/en.png"></a></li>
            <li><a id="SE" href="../"><img src="/Images/Flags/se.png"></a></li>
        </ul>
        <div class="noselect">

            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="~/">
                        @*<img id="navImg" src="~/Images/Logo/stebra_logo_black_notagline.png" />*@
                        <img id="navImg" class="svg logo" src="~/Images/Logo/logov2.svg" />
                    </a>
                </div>


                <div class="collapse navbar-collapse navbar-right" id="bs-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="#about">About Stebra</a></li>
                        <li><a href="#news">Latest news</a></li>
                        <li><a href="#whoarewe">Who are we?</a></li>
                        <li><a href="#contact">Contact us</a></li>
                    </ul>
                </div>



            </div>
        </div>
    </nav>

    @*<section class="jumbotron text-center header">

        @*<h1 class="front">Stebra</h1>
        <h2 class="front"> - Alltid lite bättre!</h2> </section>*@



    <div id="myContent" class="body-content">
        @RenderBody()
    </div>

    <footer class="col-xs-12 footer" style="background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%); width:100%; bottom:0; position:inherit; color:white;">
        <div class="container">


            @*<div class="col-xs-12">
                    <h3>Stebra Consulting AB</h3>
                </div>*@
            <a href="#myPage" title="To Top">
                <span class="glyphicon glyphicon-chevron-up"></span>
            </a>

            <div class="col-sm-6 col-xs-12">
                <div class="col-sm-6">
                    <h3>Stebra Consulting AB</h3>
                    <p>
                        <img src="/Images/Tunnelbana.png" height="15" width="15" style="position:relative;top:-2px;"> Zinkensdamm
                    </p>
                    <p>Adress: Brännkyrkagatan 95</p>
                    <p>117 26 Stockholm</p>
                </div>
                <div class="col-sm-6">
                    <br />
                    <p>Tel: 0732-613386</p>
                    <p>Mail: info@stebra.se</p>
                </div>
            </div>
        </div>
    </footer>
    @RenderSection("scripts", required: false)
</body>

</html>