@{
    Layout = "~/EN/_LayoutEN.cshtml";
    Page.Title = "Stebra Consulting";
    List<StebraEntity> sortedEntries = AzureManager.sort();
    var t = sortedEntries[0].Timestamp;
    sortedEntries[0].sweDate = t.Day + "-" + t.Month + "-" + t.Year;
    var result = Request["contactForm"];
    var name = Request["name"];
    var email = Request["email"];
    var comments = Request["comments"];

    if (result != null)
    {
        <div id="isPostBack" value="true">
            @Mail.Send(name, email, comments);
        </div>

    }
}


<div id="headervideo" style="min-height: 464px;max-height:400px">
    <div id="headervideoinner" style="opacity: 1;">
        <div class="img responsive hide-desktop" style="background-image: url('/Images/Header/clouds.png');"></div>
        <video style="background: transparent no-repeat url('/Images/Header/clouds.png');background-size:100%; background-position:top center;' ,sizingmethod='scale' );" width="100%" height="400px" autoplay="" muted="" loop="">
            <source src="http://stebrastashed.blob.core.windows.net/videos/clouds.mp4" type="video/mp4">
        </video>
    </div>
</div>
<section class="jumbotron text-center header" style="
    background: transparent;    position: relative;
    z-index: 0;">
    @*<h2 style="font-size:6em">Stebra</h2>*@
    <br /><br />
    <h2 style="font-size:5em">Always a bit better</h2>
    <br /><br /><br /><br />
</section>

<div id="om"></div>

<div class="container-fluid dividers1">
    <div id="omStebra" class="container">

        <div class="container">
            <div class="col-lg-12">
                <h1 class="titles">Stebra Consulting in 30 seconds </h1>

                <p>
                    Stebra Consulting is an IT company in the forefront to help your company
                    become more efficient by developing and creating new solutions for your information management.
                    With over fifteen years of consulting experience with clients like TV4 Group,
                    Pernod Ricard and the Åland municipalities makes Stebra's agile practices valuable
                    so that we create value for your company right from your first meeting with us.
                    <br /><br />

                    <!-- glyphicon glyphicon-hand-right -->
                    <span class="glyphicon glyphicon-hand-right">
                        <a href="#kontakta" class="btn btn-default">Book a meeting now</a>
                    </span>
                </p>

            </div>
        </div>

    </div>
</div>



<div class="container-fluid dividers2">
    <div class="container">
        <h1 class="titles">What do we do?</h1>
        <br />
        <br />
        <div class="col-lg-6" style="margin-bottom:30px">
            @*<img class="img-circle sellText center-block" src="~/Images/SaljandeTexter/prestudy.jpg" />*@
            <img class="img-circle sellText center-block placeholder" src="~/Images/SaljandeTexter/placeHolder.png" />

            <h2 class="caption text-center">Pre-study</h2>
            <h2 class="salesTitle align">Strange requests and without concrete plans?</h2>
            <p>
                We help you to beat the nail on the head, and set reasonable goals.
                With the help of workshops and a close customer dialogue we collect, analyze,
                specify and prioritize the requirements and improvement at your company's
                needs to start your project with the best conditions for success.
            </p>
        </div>

        <div class="col-lg-6" style="margin-bottom:30px">
            @*<img class="img-circle sellText center-block" src="~/Images/SaljandeTexter/Project.png" />*@
            <img class="img-circle sellText center-block placeholder" src="~/Images/SaljandeTexter/placeHolder.png" />
            <h2 class="caption text-center">Project</h2>
            <h2 class="salesTitle align">Are you are in trouble or do you have a chewing gum under your foot?</h2>
            <p>
                Relax, we fix!
                Whether you already have a ready solution proposal for your IT projects,
                need extra resources for an ongoing project, or want to start up a new project from square one,
                we will help you get to your goal.
                We take you from seed to loaf on to the smorgasbord and always have a holistic approach in focus.
            </p>
        </div>

        <div class="col-lg-6">
            @*<img class="img-circle sellText center-block" src="~/Images/SaljandeTexter/maintenance.jpg" />*@
            <img class="img-circle sellText center-block placeholder" src="~/Images/SaljandeTexter/placeHolder.png" />
            <h2 class="caption text-center">Management</h2>
            <h2 class="salesTitle align">Do you know anything more fun than to take care of your IT system?</h2>
            <p>
                Then we think you should focus on it instead and let us take care of the technology.
                A management assignments with us can mean that we continuously manages the updating and further development of your systems.
            </p>
        </div>

        <div class="col-lg-6">
            @*<img class="img-circle sellText center-block" src="~/Images/SaljandeTexter/Presence.png" />*@
            <img class="img-circle sellText center-block placeholder" src="~/Images/SaljandeTexter/placeHolder.png" />
            <h2 class="caption text-center">Social presence</h2>
            <h2 class="salesTitle align">Time to develop your social skills?</h2>
            <p>
                We help you to improve both your internal and external communication channels so that your information is in the right place.
                For example, we help you to more effectively share information on your internal platforms,
                or to reach out to your social media with just one click.

            </p>
        </div>

    </div><br />
    <div class="align info">
        <p>What do we do more?<br />  <a class="links" href="../EN/infopages/vadgorvimer">Read more...</a></p>
    </div>
</div>







<!-- No english news yet -->
<!-- SENASTE NYTT -->


<div class="container-fluid dividers2  hideinmobile" style="background-image: linear-gradient(to top,rgba(60, 60, 60, 0.18) 0,rgba(34, 34, 34, 0.52) 100%);">
    <div id="omStebra2" class="container">

        <div class="container">
            <div class="col-lg-12 ">
                <h1 class="titles">What is Stebra Consulting?</h1>
                <h3 class="titles">-Always a bit better</h3>
                <p>
                    We at Stebra Consulting are passionate about agile approaches and ensures regular evaluation of our work as our primary tool for continuously improving ourselves and our processes.
                    This, together with our curiosity and our passion for continuous development gives us
                    the ability to live and deliver our motto, <b>"Always a little better" </b>
                    Thanks to our straight communication, high transparency and close cooperation within our team and with our clients, we deliver solutions of the highest quality,
                    while we have fun at work.
                    As a customer with Stebra's agile approach, you will be able to influence your own project goals and success of the project.
                    As the world is rapidly changing, demands can sometimes change from one day to another, Therefore, we adapt the project to the markets demands and working with it, rather than against.

                    Stebra Consulting Values:
                    <b>Cooperation, High level of expertise, Transparency, Quality and Results.</b>
                    With us is the individual strengths best in a joint teamwork.
                </p>

            </div>
        </div>

    </div>
    <br />
</div>

<div id="vilka" class="container-fluid dividers2">
    <div class="container">
        <section>
            <div class="col-lg-12 titles">
                <br />
                <h2>Who are we?</h2>
            </div>
            <br><br><br>

            <div class="col-lg-12">
                <div class="col-lg-6" style="margin-bottom:30px">
                    <div class="text-center"><img src="~/Images/Persons/Hans.jpg" class="img-circle person" /></div>
                    <div class="align">
                        <h1>Hans</h1>
                        <p>REQB-certified SCRUM master</p>
                        <p class="displaceFix hideinmobile">Hans Steffensson which is one of the founders of Stebra has a decade of experience in IT and know what processes and tools should be used.</p>
                        <a href="mailto:Hans.Steffensson@stebra.se" target="_top"><p style="font-size:16px">Hans.Steffensson@stebra.se</p></a>
                        <a href="tel:073-261-4688"><p style="font-size:16px">0732614688</p></a>
                    </div>

                </div>

                <div class="col-lg-6" style="margin-bottom:30px">
                    <div class="text-center"><img src="~/Images/Persons/Bertil.jpg" class="img-circle person" /></div>
                    <div class="align">
                        <h1>Bertil</h1>
                        <p>SharePoint, Office365 specialist</p>
                        <p class="displaceFix hideinmobile">Bertil Brandt, who is a founder of Stebra has worked 16 years in IT. Bertil is also in love with the agile approach, tools, methodology of Scrum.</p>
                        <a href="mailto:Bertil.Brandt@stebra.se" target="_top"><p style="font-size:16px">Bertil.Brandt@stebra.se</p></a>
                        <a href="tel:073-261-3386"><p style="font-size:16px">0732613386</p></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-6" style="margin-bottom:30px">
                    <div class="text-center"><img src="~/Images/Persons/Felix.jpg" class="img-circle person" /></div>
                    <div class="align">
                        <h1>Felix</h1>
                        <p>Frontend, .NET, SharePoint, Office365 Designer/Developer </p>
                        <p class="displaceFix hideinmobile">Felix Freye possesses double skills, both as a full-fledged industrial designer, but also as a solid developer interest that has taken him from the IOS development, and apps like "Falling Monk". Now he builds SharePoint apps.</p>
                        <a href="mailto:Felix.Freye@stebra.se" target="_top"><p style="font-size:16px">Felix.Freye@stebra.se@stebra.se</p></a>
                        <a href="tel:073-972-5718"><p style="font-size:16px">0739725718</p></a>
                    </div>
                </div>

                <div class="col-lg-6" style="margin-bottom:30px">
                    <div class="text-center"><img src="~/Images/Persons/Simon.jpg" class="img-circle person" /></div>
                    <div class="align">
                        <h1>Simon</h1>
                        <p>Frontend, .NET, SharePoint, Office365 Developer </p>
                        <p class="displaceFix hideinmobile">Simon Bergqvist is one of the better developers you will ever encounter, has extremely easy to absorb new technologies, and are happy to share his experiences.</p>
                        <a href="mailto:Simon.Bergqvist@stebra.se" target="_top"><p style="font-size:16px">Simon.Bergqvist@stebra.se</p></a>
                        <a href="tel:070-452-3814"><p style="font-size:16px">0704523814</p></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="col-lg-6" style="margin-bottom:30px">
                    <div class="text-center"><img src="~/Images/Persons/Matilda.jpg" class="img-circle person" /></div>
                    <div class="align">
                        <h1>Matilda</h1>
                        <p>Agil Coach, SCRUM master  </p>
                        <p class="displaceFix hideinmobile">Matilda riting has over seven years of experience in leadership and personal coaching. Matilda is curious as a person and would rather ask one time too many than one too few when she claims that uncertainty inhibits creativity. </p>
                        <a href="mailto:Matilda.Riting@stebra.se" target="_top"><p style="font-size:16px">Matilda.Riting@stebra.se</p></a>
                        <a href="tel:070-882-8502"><p style="font-size:16px">0708828502</p></a>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="text-center"><img src="~/Images/Persons/Alvaro.jpg" class="img-circle person" /></div>
                    <div class="align">
                        <h1>Alvaro</h1>
                        <p>System arkitekt, .NET Developer </p>
                        <p class="displaceFix hideinmobile">Alvaro Urbano with an online poker platform in the back, is a very skilled developer and problemsolver.He is always up-to-date with everything that is happening in the .NET world. </p>
                        <a href="mailto:Alvaro.Urbano@stebra.se" target="_top"><p style="font-size:16px">Alvaro.Urbano@stebra.se</p></a>
                        <a href="tel:070-912-9484"><p style="font-size:16px">0709129484</p></a>
                    </div>
                </div>
            </div>
        </section>
        <br><br><br>
    </div>
</div>

<div id="kunder" class="container-fluid dividers1  hideinmobile">
    <div class="container">
        <div class="col-lg-12 titles">
            <br />
            <h2>Some of our customers</h2>
        </div>

        <div class="col-lg-12 text-center">
            <div class="col-lg-4">
                <img class="customerLogo" src="~/Images/customer_logo/pernod_ricard.jpg" />
            </div>

            <div class="col-lg-4">
                <img class="customerLogo" src="~/Images/customer_logo/TV4-gruppen_logo.svg.png" />
            </div>

            <div class="col-lg-4">
                <img class="customerLogo" src="~/Images/customer_logo/alands_landskapsregering.png" />
            </div>
        </div>

        <div class="col-lg-12 text-center">
            <div class="col-lg-6">
                <img class="customerLogo" src="~/Images/customer_logo/SO.png" />
            </div>

            <div class="col-lg-6">
                <img class="customerLogo" src="~/Images/customer_logo/regeringskansliet.png" />
            </div>
            <div></div>
        </div>
    </div>
</div>

<div class="container-fluid dividers2  hideinmobile">
    <div class="container ">
        <div class="col-lg-12 titles">
            <h2>Our apps</h2>
        </div>
        <div class="col-lg-12">
            <div class="col-lg-6" style="margin-bottom:30px">
                <div class="text-center"><img height="100" width="100" src="~/Images/App_Bilder/Check It In.png" class="" /></div>
                <div class="text-center">
                    <h2>Check It In</h2>
                    <p class="displaceFix">Check It In allows users to easily find and check in their files.</p>
                    <a class="links" href="../apps/checkitin">Read more... </a>
                </div>

            </div>

            <div class="col-lg-6" style="margin-bottom:30px">
                <div class="text-center"><img height="100" width="100" src="~/Images/App_Bilder/newsflash_v1.png" class="" /></div>
                <div class="text-center">
                    <h2>Newsflash</h2>
                    <p class="displaceFix">Newsflash... Coming soon!</p>
                    @*<a class="links" >Läs mer... </a>*@
                </div>
            </div>
        </div>
    </div>
</div>
<div id="kontakta" class="container-fluid dividers1 map">
    <div class="container bg-grey">
        <h2 class="titles">Contact us</h2>
        <br>

        <div class="row">
            <div class="col-lg-6 col-lg-push-3 col-sm-9 col-xs-12 form-group">
                <form action="~/Default.cshtml" href="#kontakta">
                    <span class="glyphicon glyphicon-user pull-left contact-glyphicon"></span>
                    <input class="form-control" id="name" name="name" placeholder="Name" type="text" required="">



                    <span class="glyphicon glyphicon-envelope pull-left contact-glyphicon"></span>
                    <input class="form-control" id="email" name="email" placeholder="Mail" type="email" required="">

                    <span class="glyphicon glyphicon-comment pull-left contact-glyphicon"></span>
                    <textarea class="form-control" id="comments" name="comments" placeholder="Message / leave your mobilenumber if you want to have a conversation with Stebra" rows="8"></textarea><br>

                    <button id="submitMyMessage" class="btn btn-default pull-right" type="submit" name="contactForm" value="xx">Send to info@Stebra.se</button>
                </form>

            </div>
        </div>
    </div>
</div>


<div>
    <div class="overlay" onClick="style.pointerEvents='none'"></div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2035.9054494512975!2d18.046823816071818!3d59.317835781654864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f77dd51d988d1%3A0x4b91595450bc055c!2sBr%C3%A4nnkyrkagatan+95%2C+117+26+Stockholm%2C+Sverige!5e0!3m2!1ssv!2sus!4v1453905991953" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>


<ul style="list-style:none;position:fixed;bottom:5px;right:5px">

    <li class="fb"><a target="_blank" href="https://www.facebook.com/StebraConsulting/"><img class="svg social" height="25" width="25" src="~/Images/SocialMedias/fbicon.svg" /></a></li>
    @*<li class="tw"><a target="_blank" href="https://twitter.com/StebraConsulting"></a></li>*@
    <li class="li"><a target="_blank" href="http://www.linkedin.com/company/stebra-consulting-ab"><img class="svg social" height="25" width="25" src="~/Images/SocialMedias/liicon.svg" /></a></li>
</ul>

